# Test notebook

In [12]:
import pandas as pd
import bamboolib as bam
df = pd.read_csv("../data/titanic.csv")
Interval = pd.Interval

In [13]:
df = df.drop(columns=['Fare', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])
df.dtypes

PassengerId     int64
Sex            object
dtype: object

In [14]:
df['PassengerId_Integer'] = pd.to_numeric(df['PassengerId'], downcast='integer', errors='coerce')
df['PassengerId_String'] = df['PassengerId'].astype('string')
df['PassengerId_Float'] = pd.to_numeric(df['PassengerId'], downcast='float', errors='coerce')
df['PassengerId_Boolean'] = df['PassengerId'].astype(bool)
# df['PassengerId_Categorical'] = df['PassengerId'].astype('category')
df['PassengerId_Timedelta'] = pd.to_timedelta(df['PassengerId'])
df['PassengerId_Object'] = df['PassengerId'].astype('object')
df['PassengerId_bins'] = pd.cut(df['PassengerId'], bins=10)
df['PassengerId_bins_string_category'] = pd.cut(df['PassengerId'], bins=10).astype('string').astype('category')
df['PassengerId_Int32'] = df['PassengerId'].astype('Int32')
df['PassengerId_Uint32'] = df['PassengerId'].astype('uint32')
df['PassengerId_binarized'] = (df['PassengerId'] % 2 == 0)*1
df['PassengerId_binarized_c'] = pd.to_numeric(df['PassengerId_binarized'], downcast='integer', errors='coerce')
df['PassengerId_binarized_c_bool'] = df['PassengerId_binarized_c'].astype(bool)
df['PassengerId_binarized_c_category'] = df['PassengerId_binarized_c'].astype('category')
df['Sex_Category'] =  df['Sex'].astype('category')
print(df.dtypes)
df2 = df.loc[df['Sex_Category'] == 'male']
# df2 = df.loc[df['PassengerId_bins_string_category'] == '(0.11, 90.0]' ]
df2 = df2.loc[df2['Sex_Category'].isin(['female'])]
df2['PassengerId_bins_string_category'] = df2['PassengerId_bins_string_category'].astype('string')
df

PassengerId                                   int64
Sex                                          object
PassengerId_Integer                           int16
PassengerId_String                           string
PassengerId_Float                           float32
PassengerId_Boolean                            bool
PassengerId_Timedelta               timedelta64[ns]
PassengerId_Object                           object
PassengerId_bins                           category
PassengerId_bins_string_category           category
PassengerId_Int32                             Int32
PassengerId_Uint32                           uint32
PassengerId_binarized                         int64
PassengerId_binarized_c                        int8
PassengerId_binarized_c_bool                   bool
PassengerId_binarized_c_category           category
Sex_Category                               category
dtype: object

,PassengerId,Sex,PassengerId_Integer,PassengerId_String,PassengerId_Float,PassengerId_Boolean,PassengerId_Timedelta,PassengerId_Object,PassengerId_bins,PassengerId_bins_string_category,PassengerId_Int32,PassengerId_Uint32,PassengerId_binarized,PassengerId_binarized_c,PassengerId_binarized_c_bool,PassengerId_binarized_c_category,Sex_Category
0,1,male,1,1,1.0,True,0 days 00:00:00.000000001,1,"(0.11, 90.0]","(0.11, 90.0]",1,1,0,0,False,0,male
1,2,female,2,2,2.0,True,0 days 00:00:00.000000002,2,"(0.11, 90.0]","(0.11, 90.0]",2,2,1,1,True,1,female
2,3,female,3,3,3.0,True,0 days 00:00:00.000000003,3,"(0.11, 90.0]","(0.11, 90.0]",3,3,0,0,False,0,female
3,4,female,4,4,4.0,True,0 days 00:00:00.000000004,4,"(0.11, 90.0]","(0.11, 90.0]",4,4,1,1,True,1,female
4,5,male,5,5,5.0,True,0 days 00:00:00.000000005,5,"(0.11, 90.0]","(0.11, 90.0]",5,5,0,0,False,0,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,male,887,887,887.0,True,0 days 00:00:00.000000887,887,"(802.0, 891.0]","(802.0, 891.0]",887,887,0,0,False,0,male
887,888,female,888,888,888.0,True,0 days 00:00:00.000000888,888,"(802.0, 891.0]","(802.0, 891.0]",888,888,1,1,True,1,female
888,889,female,889,889,889.0,True,0 days 00:00:00.000000889,889,"(802.0, 891.0]","(802.0, 891.0]",889,889,0,0,False,0,female
889,890,male,890,890,890.0,True,0 days 00:00:00.000000890,890,"(802.0, 891.0]","(802.0, 891.0]",890,890,1,1,True,1,male
890,891,male,891,891,891.0,True,0 days 00:00:00.000000891,891,"(802.0, 891.0]","(802.0, 891.0]",891,891,0,0,False,0,male

In [15]:
split_df = df2["PassengerId_bins_string_category"].str.split(',', expand=True)
split_df.columns = [f"PassengerId_bins_string_category_{id_}" for id_ in range(len(split_df.columns))]
df2 = pd.merge(df2, split_df, how="left", left_index=True, right_index=True)
df2 = df2.reset_index()
df2

Empty DataFrame
Columns: [index, PassengerId, Sex, PassengerId_Integer, PassengerId_String, PassengerId_Float, PassengerId_Boolean, PassengerId_Timedelta, PassengerId_Object, PassengerId_bins, PassengerId_bins_string_category, PassengerId_Int32, PassengerId_Uint32, PassengerId_binarized, PassengerId_binarized_c, PassengerId_binarized_c_bool, PassengerId_binarized_c_category, Sex_Category]
Index: []

In [16]:

for x in df.columns:
    print(pd.api.types.infer_dtype(df[x]))

integer
string
integer
string
floating
boolean
timedelta64
integer
categorical
categorical
integer
integer
integer
integer
boolean
categorical
categorical

In [17]:
df.memory_usage(), df.dtypes

(Index                                128
 PassengerId                         7128
 Sex                                 7128
 PassengerId_Integer                 1782
 PassengerId_String                  7128
 PassengerId_Float                   3564
 PassengerId_Boolean                  891
 PassengerId_Timedelta               7128
 PassengerId_Object                  7128
 PassengerId_bins                    1371
 PassengerId_bins_string_category    1291
 PassengerId_Int32                   4455
 PassengerId_Uint32                  3564
 PassengerId_binarized               7128
 PassengerId_binarized_c              891
 PassengerId_binarized_c_bool         891
 PassengerId_binarized_c_category     987
 Sex_Category                         987
 dtype: int64,
 PassengerId                                   int64
 Sex                                          object
 PassengerId_Integer                           int16
 PassengerId_String                           string
 PassengerId_Float                           float32
 PassengerId_Boolean                            bool
 PassengerId_Timedelta               timedelta64[ns]
 PassengerId_Object                           object
 PassengerId_bins                           category
 PassengerId_bins_string_category           category
 PassengerId_Int32                             Int32
 PassengerId_Uint32                           uint32
 PassengerId_binarized                         int64
 PassengerId_binarized_c                        int8
 PassengerId_binarized_c_bool                   bool
 PassengerId_binarized_c_category           category
 Sex_Category                               category
 dtype: object)

In [18]:
df = df.convert_dtypes(convert_integer=False)
df.dtypes, df.memory_usage()

(PassengerId                            int64
 Sex                                   string
 PassengerId_Integer                    int16
 PassengerId_String                    string
 PassengerId_Float                    float32
 PassengerId_Boolean                  boolean
 PassengerId_Timedelta                float64
 PassengerId_Object                     int64
 PassengerId_bins                    category
 PassengerId_bins_string_category    category
 PassengerId_Int32                      Int32
 PassengerId_Uint32                    uint32
 PassengerId_binarized                  int64
 PassengerId_binarized_c                 int8
 PassengerId_binarized_c_bool         boolean
 PassengerId_binarized_c_category    category
 Sex_Category                        category
 dtype: object,
 Index                                128
 PassengerId                         7128
 Sex                                 7128
 PassengerId_Integer                 1782
 PassengerId_String                  7128
 PassengerId_Float                   3564
 PassengerId_Boolean                 1782
 PassengerId_Timedelta               7128
 PassengerId_Object                  7128
 PassengerId_bins                    1371
 PassengerId_bins_string_category    1291
 PassengerId_Int32                   4455
 PassengerId_Uint32                  3564
 PassengerId_binarized               7128
 PassengerId_binarized_c              891
 PassengerId_binarized_c_bool        1782
 PassengerId_binarized_c_category     987
 Sex_Category                         987
 dtype: int64)

In [19]:
df_filtered = df.loc[df['PassengerId_binarized_c_category'].isin([0])]
df_filtered = df_filtered.loc[df_filtered['PassengerId_bins'].isin([Interval(90.0, 179.0, closed='right'), Interval(268.0, 357.0, closed='right'), Interval(446.0, 535.0, closed='right')])]
df_filtered

,PassengerId,Sex,PassengerId_Integer,PassengerId_String,PassengerId_Float,PassengerId_Boolean,PassengerId_Timedelta,PassengerId_Object,PassengerId_bins,PassengerId_bins_string_category,PassengerId_Int32,PassengerId_Uint32,PassengerId_binarized,PassengerId_binarized_c,PassengerId_binarized_c_bool,PassengerId_binarized_c_category,Sex_Category
90,91,male,91,91,91.0,True,91.0,91,"(90.0, 179.0]","(90.0, 179.0]",91,91,0,0,False,0,male
92,93,male,93,93,93.0,True,93.0,93,"(90.0, 179.0]","(90.0, 179.0]",93,93,0,0,False,0,male
94,95,male,95,95,95.0,True,95.0,95,"(90.0, 179.0]","(90.0, 179.0]",95,95,0,0,False,0,male
96,97,male,97,97,97.0,True,97.0,97,"(90.0, 179.0]","(90.0, 179.0]",97,97,0,0,False,0,male
98,99,female,99,99,99.0,True,99.0,99,"(90.0, 179.0]","(90.0, 179.0]",99,99,0,0,False,0,female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,527,female,527,527,527.0,True,527.0,527,"(446.0, 535.0]","(446.0, 535.0]",527,527,0,0,False,0,female
528,529,male,529,529,529.0,True,529.0,529,"(446.0, 535.0]","(446.0, 535.0]",529,529,0,0,False,0,male
530,531,female,531,531,531.0,True,531.0,531,"(446.0, 535.0]","(446.0, 535.0]",531,531,0,0,False,0,female
532,533,male,533,533,533.0,True,533.0,533,"(446.0, 535.0]","(446.0, 535.0]",533,533,0,0,False,0,male
534,535,female,535,535,535.0,True,535.0,535,"(446.0, 535.0]","(446.0, 535.0]",535,535,0,0,False,0,female

In [ ]:
import time
time.sleep(50000)